<head>
  <link rel="stylesheet" href="tabuleiro.component.css">
</head>

<body>
  <div>Turno</div>
  <ul class="tabdiveiro">
    <div class="fileira" id="fileira8">
      <li class="casa" id="a8" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="b8" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="c8" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="d8" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="e8" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="f8" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="g8" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="h8" (click)="onCasaClick($event.target)" ></li>
    </div>
  
    <div class="fileira" id="fileira7">
      <li class="casa" id="a7" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="b7" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="c7" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="d7" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="e7" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="f7" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="g7" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="h7" (click)="onCasaClick($event.target)" ></li>
    </div>
    
    <div class="fileira" id="fileira6">
      <li class="casa" id="a6" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="b6" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="c6" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="d6" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="e6" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="f6" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="g6" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="h6" (click)="onCasaClick($event.target)" ></li>
    </div>
    
    <div class="fileira" id="fileira5">
      <li class="casa" id="a5" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="b5" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="c5" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="d5" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="e5" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="f5" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="g5" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="h5" (click)="onCasaClick($event.target)" ></li>
    </div>
    
    <div class="fileira" id="fileira4">
        <li class="casa" id="a4" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="b4" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="c4" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="d4" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="e4" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="f4" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="g4" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="h4" (click)="onCasaClick($event.target)" ></li>
    </div>
    
    <div class="fileira" id="fileira3">
      <li class="casa" id="a3" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="b3" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="c3" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="d3" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="e3" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="f3" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="g3" (click)="onCasaClick($event.target)" ></li>
      <li class="casa" id="h3" (click)="onCasaClick($event.target)" ></li>
    </div>
    
    <div class="fileira" id="fileira2">
        <li class="casa" id="a2" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="b2" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="c2" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="d2" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="e2" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="f2" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="g2" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="h2" (click)="onCasaClick($event.target)" ></li>
    </div>
    
    <div class="fileira" id="fileira1">
        <li class="casa" id="a1" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="b1" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="c1" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="d1" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="e1" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="f1" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="g1" (click)="onCasaClick($event.target)" ></li>
        <li class="casa" id="h1" (click)="onCasaClick($event.target)" ></li>
    </div>
  </ul>
</body>